parameters:
	ignoreErrors:
		-
			message: '#^Trait KejKej\\NotificationPreferences\\Traits\\HasNotificationPreferences is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Traits/HasNotificationPreferences.php

		-
			message: '#^Trait KejKej\\NotificationPreferences\\Traits\\RoutesNotificationsViaPreferences is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Traits/RoutesNotificationsViaPreferences.php
